# Ignore all generated assets files
/docs/assets/gpx/

# Ignore Python virtual environment
/.venv/

# Ignore Python bytecode files
__pycache__/
*.pyc

# Ignore Python build artifacts
*.egg-info/

cache/

.graph_cache/

# Ignore Jekyll build artifacts
/docs/vendor/
/docs/_site/
/docs/.bundle/
/docs/.sass-cache/
/docs/.jekyll-cache/
/docs/*.gem
