# Ignore all generated GPX files
/docs/fell/bob-graham-round/generated/
/docs/fell/ramsay-round/generated/
/docs/fell/paddy-buckley-round/generated/
/docs/fell/allermuir-hill-race/generated/

# Ignore all generated static files
/docs/static/generated/

# Ignore Python virtual environment
/.venv/

# Ignore Python bytecode files
__pycache__/
*.pyc

cache/

.graph_cache/

# Ignore Jekyll build artifacts
/docs/vendor/
/docs/_site/
/docs/.bundle/
/docs/.sass-cache/
/docs/.jekyll-cache/
/docs/*.gem
